main {
  padding: 30px;
  background-color: rgb(245, 250, 255);
}

.allCard {
  background-color: white;
  border-top:2px solid lightgray;
}

.personCard {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  background-color: white;
  font-size: 30px;
  /* width: fit-content; */
  margin-top: 10px;
  gap: 10px;
}
.edit-icon p {
  text-align: center;
}
.people {
  text-align: left;
  margin-bottom: 10px;

}
.profile {
  border-radius: 2px;
}
.nameCohort{
    font-family:'Times New Roman', Times, serif;
}
