.header-section-search{
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 300px;
}
.edit-container{
    grid-column: span 2;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 2fr
}
.info-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.cohortInfo-container{
    display: grid;
    grid-template-columns: 60px 1fr;
}
.delivery-log-item{
    list-style: none;
    border-top: lightgray solid 1px;
}
.deliverylogs-container{
    display: grid;
    gap: 10px;

}